astroid==2.5.6
bandit==1.7.0
click==7.1.2
fastapi==0.65.1
flake8==3.9.2
flake8-bandit==2.1.2
flake8-polyfill==1.0.2
gitdb==4.0.7
GitPython==3.1.17
h11==0.12.0
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
pbr==5.6.0
pycodestyle==2.7.0
pydantic==1.8.2
pyflakes==2.3.1
pylint==2.8.2
PyYAML==5.4.1
six==1.16.0
smmap==4.0.0
starlette==0.14.2
stevedore==3.3.0
toml==0.10.2
typing-extensions==3.10.0.0
uvicorn==0.13.4
wrapt==1.12.1
